@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
.my-nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-bg{
    background-color: rgb(223, 130, 130);
}